*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.our{
    width:100%;
    height:auto;
}


.our1{
    width:100%;
    height:auto;
    /*border:1px solid red;*/
    margin-top: 70px;
    padding: 0 10px;
}
.our1 h1{
    text-align: center;
    font-size: 45px;
}
.our1 p{
    padding: 10px 110px;
    text-align: center;
    color:#7f7f7f;
}


.our2{
    width:100%;
    height:auto;
    /*border:1px solid red;*/
    margin-top: 70px;
    padding: 0 10px;
    margin-bottom: 50px;
}
.our2 h1{
    text-align: center;
    font-size: 45px;
}
.our2_div{
    width:100%;
    height:auto;
    /*border:1px solid blue;*/
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
.our2_div_div{
    width:230px;
    height:290px;
    border: 1px solid red;
    margin-top: 15px;
}
.our2_div h2{
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
}
.our2_div p{
    text-align: center;
    color:#7f7f7f;
}




/* responsive design start */
@media(max-width:500px){
.our1{
    width:100%;
    height:auto;
    margin-top: 50px;
}
.our1 h1{
    text-align:left;
    font-size: 35px;
}
.our1 p{
    padding: 10px 0px;
    text-align: justify;
    color:#7f7f7f;
}


.our2{
    width:100%;
    height:auto;
    /*border:1px solid red;*/
    margin-top: 50px;
    padding: 0 10px;
    margin-bottom: 40px;
}
.our2 h1{
    text-align: left;
    font-size: 35px;
}
.our2_div_div{
    width:174px;
    height:240px;
}

}

@media(max-width:992px){
.our1 h1{
    text-align:left;
    font-size: 35px;
}
.our1 p{
    padding: 10px 0px;
    text-align: justify;
    color:#7f7f7f;
}
}

/* responsive design end */